body {
  background-color: lightyellow;
}

#initially-showing1, #initially-showing2 {
  display:block;
}

#initially-hidden1, #initially-hidden2 {
  display: none;
}

.clickable1, .clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
